img {
    height: auto;
    width: 500px;
}

ul,
ol {
    background-color: rgb(153, 229, 153);
    color: white;
    font-size: 15px;
    font-weight: 20;
}

h4,
h1 {
    background-color: rgb(35, 170, 154);
    color: white;
}

p {
    background-color: rgb(153, 229, 153);
    color: white;
}


